/* google fonts link */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
  padding: 0%;
  margin: 0;
}

#offering{
  /* margin-top: 100vh; */
 height: 100%;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.998);
 backdrop-filter: blur(10px);
 /* background: yellow; */
}
.theme-text {
  color: #ff0000d3;
}



.w-100{
  width: 100vw;
}
.text-center{
  text-align: center;
}

#offering-header{
  font-size: 40px;
}

#offering-header h1{
  border:green
}

#offering-card{
  display: grid;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  /* grid-template-rows: auto auto auto; */
}

.row{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card{
  /* position: relative; */
  height: 80%;
  width: 13vw;
  background: rgba(255, 255, 255, 0.23)!;
  backdrop-filter: blur(7px);
  /* border: 2px solid black; */
  border-radius: 5px;
  margin: 10px 20px;
  overflow: hidden;
  box-shadow: 2px 2px 12px gray;
}

.card-header{
  height: 50%;
  width: 100%;
  /* background: red; */
}
.card-header img{
  height: 100%;
  width: 100%;
}

.card-body{
  padding: 5px 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.card-body p{
  padding: 0px 5px;
  color: blue;
}


.card:hover{
  color: #000000;
  background: rgb(221, 124, 14);
  transform-origin: left;
  transition: all 1.2s;
}

.card:hover p{
  color: white;
}
/* .card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover {
  color: white;
}
.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: #474af0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.card:hover::before {
  left: 0%;
  color: white;
}
.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
} */





/* About Us section starts Here */

#about{
  height: 99vh;
  width: 100%;
  /* background: rgb(247, 158, 80); */
  /* background-image: url(/1.jpg); */
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(about\ us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .about-text{
  width: 100%;
  padding: 2px 80px;
  font-size: large;
  color: white;
 }

 .about-heading{
  margin: 150px 0px;
  font-size: 30px;
  text-transform: capitalize;
 }

 .about-subheading{
  font-size: 25px;
  margin-top: -100px;
  color: #ff7200;
 }


 .context{
  margin: 10px 0px;
 }

 .context span{
  font-weight: 1000;
 }

.btn-gray{
  position: relative;
  height: 15vh;
  width: 15vw;
  background: gray;
  padding: 10px 20px;
  color: white;
  margin: 30px 0px;
  border-radius: 7px;
  outline: none;
  text-decoration: none;
}
.btn-gray:hover{
  background: rgb(155, 9, 9);
  transition: all ease-in-out 0.6s;
}


#img-container{

  height: 100vh;
  width: 88vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* sign up styling starts here  */

.signup{
  height: 100%;
  width: 100%;
  background: rgb(247, 126, 69);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left{
  width: 50%;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: auto auto;
}

#left .item{
  height: 200px;
  width: 200px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  margin: 10px 0px;
  border-radius: 10px;
  /* transform: rotate(90deg); */
  transform: rotate(45deg);
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item img{
  height: 70%;
  width: 70%;
  /* margin: 35px 40px; */
  transform: rotate(-45deg);
}
#left .item:nth-child(1){
  margin-left: 100px
}
#left .item:nth-child(2){
  margin-left: -100px
}

#left .item:last-child{
  margin-left: 250px;
  margin-top: -50px;
}

#right{
  width: 50%;
  padding: 6px 10px;
}

#right .boll{
  display: grid;
  grid-template-columns: auto auto;
}
#right .boll .rg-item{
  height: 100px;
  width: 100px;
  /* background: green; */
  /* backdrop-filter: blur(10px); */
  /* margin: 10px 0px; */
  border-radius: 50%;
  /* transform: rotate(90deg); */
  /* transform: rotate(45deg); */
  /* overflow: hidden; */
  background-size: cover;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.boll .rg-item:nth-child(1){
  background: green;
  margin-left: 20px;
}
.rg-item:nth-child(2){
  background: blue;
  margin-top: 300px;
  /* margin-left: 100px; */
  /* margin-left: 600px; */
}
.rg-item:nth-child(3){
  background: blueviolet;
  /* margin: 30px 100px; */
}

#right form{
  height: 80vh;
  width: 60%;
  padding: 4px 20px;
  border-radius: 10px;
  margin-top: -480px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myform .form-group{
  position: relative;
  width: 80%;
  margin: 40px 0px;
  /* background: transparent; */
}


.form-group input{
  width: 80%;
  padding: 8px 15px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid  rgb(247, 126, 69);
}


input::placeholder{
  color: white;
}

.signupbtn{
  height: 5vh;
  width: 70%;
  border: none;
  background: rgb(83, 83, 241);
  cursor: pointer;
}



#error{
  color: #ffffff;
}
/* User Dashboard Design */
#userDashboard{
  height: 100%;
  width: 100%;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userDashboard .head{
  height: 10vh;
  width: 100%;
  background: rgb(247, 126, 69);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .userName{
  width: 60px;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.head span{
  border: 1px solid black;
  margin-right: 560px;
}

.teacher{
  height: 30vh;
  width: 90%;
  background: rgb(247, 126, 69);
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Course Design starts h */
.course{
  min-height: auto;
  width: 100%;
  margin-top: 20px;
  padding: 50px 20px;
  background: linear-gradient(rgb(251, 237, 237),rgb(209, 246, 209),rgb(230, 230, 179));
}

.course h2{
  font-size: 50px;
  font-weight: 1000;
}

/* course Design */
.course-container{
  height: 100%;
  width: 100%;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    rgb(255, 156, 156),rgb(103, 103, 55),rgb(174, 174, 174)
  ); */
  background: rgb(255, 252, 234);
}

.flex-card{
  width: 55vw;
  height: 100%;
  display: flex;
  background: white;
}
.flex-card .card-header{
  height: 100%;
  width: 100%;
}
.flex-card img{
  height: 100%;

}


.course-container .c-heading{
  width: 60%;
  
}
.c-heading .course-name{
  font-size: 100px;
}
.course-type{
  font-size: 50px
}

.flex-card p{
  color: black;
  font-size: 20px;

}
.flex-card a{
  text-align: center;
  cursor: pointer;
}
.flex-card button{
  margin: 30px 60px;
  /* height: ;
  width: ; */
  width: 300px;
  padding: 5px 9px;
}

.overview-container{
  height: 100%;
  width: 100%;
  margin-top: 50px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.overview-container .text-container{
  width: 70%;
  height: 100%;
}

.overview-heading
{
  font-size: xx-large;
  font-weight: 500;
}

/* corse content design */

.course-content{
  width: 70%;
  height: 60vh;
  margin-top: 50px;
  /* border: 1px solid black; */
  /* box-shadow: 2px 2px 12px gray; */
  background: rgba(211, 211, 211, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 6px;
  overflow: auto;
}

.course-content ol li{
  height: 100%;
  width: 90%;
  background: inherit;
  margin: 30px 30px;
  /* border: 1px solid black; */
 padding: 2px 26px;
 border-radius: 8px;
}

.course-content ol li:hover{
  border: 1px solid blue;
  border-radius: 8px;
  background: white;
  transition: all 0.6s;
}



#learning{
  height: 30vh;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#learning .learning-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.learning-container a button{
  height: 6vh;
  width: 140px;
  background: #ffba81;
  padding: 7px 17px;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 20px;
  text-align: center;
  font-weight: 1000;
}